.banner-section {
  width: 100%;
  margin-bottom: 20px;
}

.banner-swiper {
  width: 100%;
  height: 300px;
}

.banner-link {
  display: block;
  width: 100%;
  height: 100%;
}

.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-swiper :global(.swiper-button-next),
.banner-swiper :global(.swiper-button-prev) {
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.banner-swiper :global(.swiper-button-next):after,
.banner-swiper :global(.swiper-button-prev):after {
  font-size: 20px;
}

@media (max-width: 768px) {
  .banner-swiper {
    height: 200px;
  }
}

